{% extends 'layout.html' %}

{% block title %}
    Delete account!
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="alert alert-warning text-center">
                <p>
                    This action is permanent. All of your routines, PRs and information
                    will be permanently deleted. Are you sure?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-column align-items-center">
                <form action="/delete" method="post">
                    <button type="submit" class="btn btn-outline-danger">
                        Yes, I'm sure. Delete my account
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}