{% extends 'layout.html'%}

{% block title %}
    FL: Homepage
{% endblock %}

{% block main %}
<!-- This is where real shit git gud-->
<section class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3 border-bottom pb-3 mb-2">
        <div class="col text-center">
            <a href="/settings">
                {% if picture == None %}
                <img src="/static/images/default-pfp.svg" alt="" class="profile-pic">
                {% else %}
                <img src="{{ picture }}" alt="" class="profile-pic rounded-circle">
                {% endif %}   
            </a>
        </div>
        <div class="col bg-warning-subtle rounded py-2 ps-4 d-flex flex-column justify-content-center">
            <h3>{{ user.name }}</h3>
            {% if progress %}
            {% for stuff in progress %}
                <div class="row row-cols-2">
                    <div>
                        <h3>{{ stuff.exercise }}</h3>
                    </div>
                    <div>
                        <p>{{ stuff.diff }}</p>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <p>Seems like you don't have anything registered...</p>
            {% endif %}
        </div>
    </div>
</section>
<section class="container">
    <!-- Add each routine made on this section -->
    {% if not routines %}
        <div class="border-bottom mb-3 pb-3 row row-cols-1 row-cols-md-2">
            <div class="col">
                <h3>Seems like you don't have any registered routines... let's register one!</h3>
            </div>
            <div class="col d-flex justify-content-center align-items-center border rounded">
                <a href="/routine">
                    <img src="/static/images/plus-sign.svg" alt="" class="sign">
                </a>
            </div>
        </div>
    {% else %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 border-bottom pb-2">
            {% for routine in routines %}
            <div class="col border rounded">
                <h3 class="mt-2">{{ routine.name }}</h3>
                <p class="mt-2">{{ routine.description }}</p>
                <form action="/routine-check" method="post">
                    <input type="hidden" value="{{ routine.id }}" name="routine-id">
                    <button class="btn btn-outline-info mb-2">Check routine</button>
                </form>
            </div>
            {% endfor %}
            <div class="col border rounded d-flex justify-content-center align-items-center">
                <a href="/routine">
                    <img src="/static/images/plus-sign.svg" alt="" class="sign">
                </a>
            </div>
        </div>
    {% endif %}
</section>
<section class="container text-center">
    <!-- Find out a way to place graphs dinamically depending on the goals of the person -->
    <h3>Let's see your progress in the graphs</h3>
     <a href="/graphs" class="btn btn-outline-info">Check graphs of my progress</a>
</section>

{% endblock %}