{% extends 'layout.html'%}

{% block title %}
    FL: Homepage
{% endblock %}

{% block main %}
<!-- This is where real shit git gud-->
<section class="box">
    <div class="column">
        <!-- Find a way to use a picture saved on a database -->
         {% if picture == None %}
         <img src="/static/images/default-pfp.svg" alt="default-profile-picture" class="profile-picture">
         {% else %}
         <img src="{{picture}}" alt="profile-picture">
         {% endif %}
    </div>
    <div class="column">
        <!-- User's name and progress on their goals -->
        <h3>{{user.name}}</h3>
        <div class="plus">
            {% if not progress %}
            <h3>Looks like no PRs have been registered yet...</h3>
            {% else %}
            <h3>Look at how much you're progressing!</h3>
            {% for exercise in progress %}
            <div class="exercise">
                <h3>{{exercise.name}}</h3>
                <p>{{exercise.weight}} KG</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section class="box">
    <!-- Add routines made and the plus sign to add a routine -->
     <div class="row">
        Routines
     </div>
     <div class="row">
        <a href="/routine">
            <img src="/static/images/plus-sign.svg" alt="">
        </a>
        {% for routine in routines %}
        <a href="/look_routine">
            <div class="column">
                <h5>
                    {{ routine.routine-name }}
                </h5>
                <p>
                    {{ routine.routine-desc }}
                </p>
            </div>
        </a>
        {% endfor %}
     </div>
</section>
<section class="box">
    <!-- Find out a way to place graphs dinamically depending on the goals of the person -->
     <a href="/graphs">Check graphs of my progress</a>
</section>

{% endblock %}