<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/stuff.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    {% if session["user_id"] %}
        <header class="user">
            <div class="logo"></div>
            <div class="user_pfp"></div>
        </header>
    {% else %}
        <header class="homepage">
            <div class="logo">
                <img src="" alt="Logo">
            </div>
            <div class="register_buttons">
                <ul class="buttons">
                    <li>
                        <a href="/login" class="login_button">Log in</a>
                    </li>
                    <li>
                        <a href="/register" class="register_button">Register</a>
                    </li>
                </ul>
            </div>
        </header>
    {% endif%}
        <main>
            {% block main%}{% endblock %}
        </main>
        <footer>
            <div class="logo">
                <img src="" alt="Logo">
            </div>
            <div class="copyright">
                <span>
                    Copyright &#169; 2024 - Todos los derechos reservados
                </span>
            </div>
        </footer>

</body>
</html>