{% extends 'layout.html' %}

{% block title %}
    FL: Log In
{% endblock %}

{% block main %}
<div class="title">
    <h2>
        Welcome to the beginning of your journey!
    </h2>
</div>
<div class="form">
    <form action="/login" method="post">
        <input type="text" name="username" id="">
        <input type="password" name="password" id="">
        <button type="submit">Log in!</button>
    </form>
</div>
{% if warning %}
<div class="warning">
    {{ warning }}
</div>
{% endif %}
<div class="suggestion">
    <h3>
        Don't have an account?
    </h3>
    <a href="/register" class="button">
        Register!
    </a>
</div>
{% endblock %}