{% extends 'layout.html' %}

{% block title %}
Fortitude Log: Your workout companion
{% endblock %}

{% block main %}
<!-- First section of info -->
<div class="box">
    <div class="column">
        <h2>Enhance your fortitude</h2>
        <p>Ready to start your tracking?</p>
        <a href="/register">Sign me up!</a>
    </div>
    <div class="column">
        <!-- Image of main page -->
    </div>
</div>
<div>
    <div class="box">
        <div class="image">
            <!-- Graph 1 -->
        </div>
        <div class="desc">
            <h3>Create your beginning</h3>
            <p>Register your PRs and goals, and have at hand how your lifts take off</p>
        </div>
    </div>
    <div class="box">
        <div class="image">
            <!-- Graph 2 -->
        </div>
        <div class="desc">
            <h3>See your progress</h3>
            <p>Check at a glance how your lifts are improving, and evaluate each goal</p>
        </div>
    </div>
    <div class="box">
        <div class="image">
            <!-- Graph 3 -->
        </div>
        <div class="desc">
            <h3>Share your journey</h3>
            <p>Save graphs of new PRs and share it with others across social media</p>
        </div>
    </div>
</div>
{% endblock %}