{% extends 'layout.html' %}

{% block title %}
Fortitude Log: Your workout companion
{% endblock %}

{% block main %}
<!-- First section of info -->
<div class="box-row">
    <div class="column">
        <h2>Enhance your fortitude</h2>
        <p>Ready to start your tracking?</p>
        <a href="/register" class="register_button">Sign me up!</a>
    </div>
    <div class="column">
        <!-- Image of main page -->
         <img src="" alt="">
    </div>
</div>
<div class="box-row">
    <div class="column">
        <div class="desc">
            <h3>Create your beginning</h3>
            <p>Register your PRs and goals, and have at hand how your lifts take off</p>
        </div>
    </div>
    <div class="column">
        <img src="/static/images/grafica-1.svg" height="240" width="476" alt="">
        <div class="desc">
            <h3>See your progress</h3>
            <p>Check at a glance how your lifts are improving, and evaluate each goal</p>
        </div>
    </div>
    <div class="column">
        <img src="" alt="">
        <div class="desc">
            <h3>Share your journey</h3>
            <p>Save graphs of new PRs and share it with others across social media</p>
        </div>
    </div>
</div>
{% endblock %}