{% extends 'layout.html' %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/password" method="post">
            <div class="row row-cols-1 row-cols-md-2 border-bottom mb-3">
                <div class="col">
                    <h3>Previous password</h3>
                </div>
                <div class="col">
                    <input type="password" name="old-password" autocomplete="off" autofocus class="form-control">
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 border-bottom mb-3">
                <div class="col">
                    <h3>New password</h3>
                </div>
                <div class="col">
                    <input type="password" name="new-password-1" autocomplete="off" autofocus class="form-control">
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mb-3 border-bottom">
                <div class="col">
                    <h3>New password again</h3>
                </div>
                <div class="col">
                    <input type="password" name="new-password-2" autocomplete="off" autofocus class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex flex-column align-items-center">
                    <button type="submit" class="btn btn-outline-info">Change password</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}