{% include 'layout.html' %}

{% block title %}
    Change profile details
{% endblock %}

{% block main %}
    <div class="box">
        <div class="column">
            <h4>Profile details</h4>
            <form action="/profile" method="post">
                <div class="row">
                    <h4>Name</h4>
                    <input type="text" name="new_name" placeholder="{{user.name}}">
                </div>
                <div class="row">
                    <h4>Username</h4>
                    <input type="text" name="new_username" placeholder="{{user.username}}">
                </div>
                <div class="row">
                    <h4>Profile Picture</h4>
                    <input type="file" name="pfp" accept="image/png, image/jpg, image/jpeg">
                </div>
                <button type="submit">Apply new changes</button>
            </form>
        </div>
    </div>
{% endblock %}