{% extends 'layout.html' %}

{% block title %}
    Change profile details
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/profile" method="post" enctype="multipart/form-data">
            <div class="row mb-3 border-bottom">
                <div class="col">
                    <h3>Name</h3>
                </div>
                <div class="col">
                    <input type="text" autocomplete="off" autocapitalize="words" autofocus name="new_name" class="form-control">
                </div>
            </div>
            <div class="row mb-3 border-bottom">
                <div class="col">
                    <h3>Username</h3>
                </div>
                <div class="col">
                    <input type="text" autocomplete="off" autofocus name="new_username" class="form-control">
                </div>
            </div>
            <div class="row mb-3 border-bottom">
                <div class="col">
                    <h3>Profile picture</h3>
                </div>
                <div class="col">
                    <input type="file" name="pfp" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex flex-column align-items-center">
                    <button type="submit" class="btn btn-outline-success">Save all changes</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}