{% extends 'layout.html' %}

{% block title %}
    FL: Register
{% endblock %}

{% block main %}
<div class="text-center">
    <p class="py-3 fw-bold fs-1">
        Welcome to the beginning of your journey!
    </p>
    <div class="border border-info border-1 rounded-4 py-3">
        <form action="/register" method="post">
            <input type="text" name="username" autocomplete="off" autofocus class="form-control mx-auto w-auto mb-2" placeholder="Type your username">
            <input type="text" name="name" autocomplete="off" autofocus class="form-control mx-auto w-auto mb-2" placeholder="Type your name">
            <input type="password" name="password-1" autocomplete="off" autofocus class="form-control mx-auto w-auto mb-2" placeholder="Type your password">
            <input type="password" name="password-2" autocomplete="off" autofocus class="form-control mx-auto w-auto mb-2" placeholder="Type your password again">
            <button type="submit" class="btn btn-outline-info">Register!</button>
        </form>
    </div>
</div>
<div class="container-fluid text-center border-top mt-5 pt-3">
    <h3>
        Already have an account?
    </h3>
    <a href="/login" class="btn btn-outline-info">
        Log in!
    </a>
</div>
{% endblock %}