{% extends 'layout.html' %}

{% block title %}
    FL: Register routine
{% endblock %}
    
{% block main %}
<div class="container">
    <form action="/routine" method="post" id="routine">
        <!-- Routine -->
         <div class="row mb-3 border-bottom">
            <div class="col">
                <h3>Routine name</h3>
            </div>
            <div class="col">
                <input type="text" autocomplete="off" autofocus name="routine-name" class="form-control">
            </div>
         </div>
         <div class="row mb-3 border-bottom">
            <div class="col">
                <h3>Routine description</h3>
            </div>
            <div class="col">
                <input type="text" autocomplete="off" autofocus name="routine-desc" class="form-control">
            </div>
         </div>
         <div class="row mb-2 d-flex flex-row align-items-center">
            <button type="submit" class="btn btn-outline-success">Save routine</button>
         </div>
        <div>
            
        </div>
    </form>
</div>
    <script src="/static/other-functions.js"></script>
{% endblock %}